*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo {
    text-align: center;
    color: lightcoral;
    background-color: teal;
}

#seleccionar-mascota{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta-mokepon{
    margin:10px;
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: aquamarine;
    border: 1px solid hotpink;
}

input{
    display: none;
}
