.titulo {
    color: lightcoral;
    width: 300px;
    height: 50px;
    background-color: teal;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


