.titulo {
    text-align: center;
    color: lightcoral;
    background-color: teal;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


